<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Information</title>
    <link rel="icon" href="/Images/UniversityLogo.png" type="image/x-icon">
    <meta name="author" content="Icfai Tech">
    <meta name="description" content="A Student Information System Forgot Password">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/fp.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-md  fixed-top" id="main">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="mailto:ripuararia@gmail.com" class="nav-link"><strong>IFHE Hyderabad</strong></a>
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/Public/Index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.ifheindia.org/icfaitech/" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/Public/ContactMe.html" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" id="left-row">
                <div class="display-4" id="test">
                    Got promoted as admin hmmm?<br>Register Yourself to get Started
                </div>
            </div>
            <div class="col-lg-6 col-md-12" id="right-row">
                <form action="/adminReg" method="POST">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="name" aria-describedby="Name" placeholder="Enter Full Name">
                        <label for="InputEnr">Email ID</label>
                        <input type="text" class="form-control" id="InputEnr" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone
                            else.</small>
                    </div>
                    <div class=" form-group ">
                        <label for="specialPass">Secret Code</label>
                        <input type="password" class="form-control " name="secretCode" id="secretCode" placeholder="Code ">
                        <small id="emailHelp" class="form-text text-muted">Enter the secret key provided by your
                            organization.</small>
                    </div>
                    <div class=" form-group ">

                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control " id="InputPassword" name="password" placeholder="Password ">
                    </div>
                    <div class="form-group ">
                        <label for="InputPassword2 ">Confirm Password</label>
                        <input type="password" class="form-control " id="InputPassword2" name="cpassword" placeholder="Password ">
                    </div>
                    <div class="mes" style="color: red;">
                        <%=message %> <br>
                    </div>
                    <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color">SignUp</button> </div>

                </form>
            </div>
        </div>
    </div>

    <footer class="footer ">
        <div class="row " id="footer-content ">
            <div class="col-lg-4 col-md-12 ">
                <div class="logo-footer" style="color: wheat;">
                    <img src="/Images/Logo.png " style="margin-left: 4em; ">
                </div>
            </div>
            <div class="col-lg-4 col-md-12" id="fc">
                <table>
                    <tr>
                        <td>
                            <i class="fas fa-location-arrow " style="margin-top: 0; "></i>
                        </td>
                        <td style="text-align: justify; ">
                            Survey No. 156/157,IFHE-IBS Campus, Donthanapally, Shankarapalli Road, Hyderabad,Telangana 501203
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                        <td>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="fas fa-phone-alt " style="margin-right: 1em; "></i>
                        </td>
                        <td>
                            040 2347 9725
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 col-md-12 ">

            </div>
        </div>
        <p id="footer-data">© 2020-All rights reserved. Made with ❤️ by<a href="# " class="bottom-link "><strong> ICFAI
                    Tech</strong> </a> </p>
    </footer>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://kit.fontawesome.com/94d26e8b6b.js " crossorigin="anonymous "></script>
    <script>
        $(function() {
            $(document).scroll(function() {
                var $nav = $("#main ");
                $nav.toggleClass("scrolled ", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
    <script src="https://kit.fontawesome.com/94d26e8b6b.js " crossorigin="anonymous "></script>
    <script>
    </script>
</body>

</html>