body {
    background: #ade498;
    overflow-x: hidden;
}

img {
    height: 50%;
    width: 50%;
    margin-bottom: 5em;
}

#InputOTP {
    width: 10em;
    display: inline;
    margin-right: 1em;
}

a {
    color: wheat;
}

a:hover {
    text-decoration: none;
    color: #ade498;
}

.navbar {
    background: rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: #251f44;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px 2em 0px 2em;
    font-family: 'Open Sans', sans-serif;
}

.navbar.scrolled {
    background-color: #ade498;
    transition: background 1000ms;
}

.navbar-toggler {
    border-color: black;
    background: url('/Images/toggler.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: start !important;
}

#left-row {
    margin-top: 25%;
    text-align: center;
    margin-bottom: 10%;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
}

#reset {
    width: 50%;
    margin-left: 0;
}

.btn-white {
    border-radius: 50px;
    color: #d500f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #d500f9 !important;
}

form {
    margin-top: 9em;
    background: whitesmoke;
    padding: 2em;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    margin-bottom: 12%;
}

#right-row {
    margin-top: 50%;
    margin: 10% auto 10% auto;
}

.footer {
    position: relative;
    bottom: 0;
    margin-top: 20%;
    flex-shrink: 0;
    width: 100vw;
    background-color: #dbe2ef;
    background: #16213e;
    text-align: start;
    padding: 1rem 0rem;
}

#footer-data {
    color: wheat;
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
}

input[type='password']:disabled {
    background: #dddddd;
}

#fc {
    color: wheat;
    font-size: 1.2em;
}

#footer-content {
    color: wheat;
    font-size: 1.2em;
}