@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: #ade498;
    overflow-x: hidden;
}

navbar-toggler {
    background: red;
}

html {
    height: 100%;
}

h3 {
    margin-bottom: 10%;
}

ul {
    list-style-type: none;
}

li {
    text-align: start;
}

.navbar {
    background: rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: #251f44;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0px 2em 0px 2em;
    font-family: 'Open Sans', sans-serif;
}

.light-blue-skin .navbar.double-nav a {
    color: black !important;
}

#InputOTP {
    width: 50px !important;
}

.container {
    background: whitesmoke;
    margin-top: 10%;
    height: 60em;
    width: 100em;
    margin-bottom: 10%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.4), 0px 18px 23px rgba(0, 0, 0, 0.4);
}

#first-row {
    margin-top: 20%;
    text-align: center;
    padding-bottom: 14.7%;
}

input,
textarea {
    background-color: #f3e5f5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f3e5f5 !important;
    font-size: 1em !important;
    color: #000 !important;
    font-weight: 400;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #d500f9 !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
}

.btn-white {
    border-radius: 50px;
    color: #d500f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #d500f9 !important;
}

.footer {
    padding: 2em;
    background: #16213e;
}

img {
    height: 50%;
    width: 50%;
    margin-bottom: 5em;
}

#footer-data {
    color: wheat;
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
}

#footer-content {
    color: wheat;
    font-size: 1.2em;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

a {
    color: wheat;
}

a:hover {
    color: #ade498;
    text-decoration: none;
}

@media (max-width: 1220px) {
    #second-row {
        display: none;
    }
}

@media (max-width: 588px) {
    .container {
        height: 100vh;
        width: 90vw;
    }
}

@media (max-width: 900px) {
    li {
        text-align: center;
    }
}

@media (max-width: 770px) {
    .navbar {
        background: rgba(0, 0, 0, 0.8);
    }
    .nav-link {
        color: white;
    }
}